#-*-Makefile-*- vim:syntax=make
#$Id: reset.target,v 1.1 2004/11/29 19:10:17 idgay Exp $

BUILD_DEPS = harmless

reset: FORCE
	@echo "    resetting $(PLATFORM)"
	$(PROGRAMMER) $(PROGRAMMER_FLAGS)

harmless:
