<body>
This package contains the Components to be shown within the Demonstrator.

<p>
The most important part of this message is the AbstractComponent, which acts as BaseClass for
all Classes in this directory. It specifies two methods that each Subclass has to implement.
With the results of these Methods the Demonstrator can embed the Componets in it's GUI without hassle.
</p>
<p>
What the GUI of the individual components contains, and which other methods (event-handling e.g.) they 
implement is totally left open, to provide a flexible base for these components. There is currently no call
back implemented from the Components to the Demonstrator, but that could be achieved easily, if needed.
To see different (more or less sophisticated) implementations of the base-class have a look at the other 
classes contained in this package.
</p>
</body>