#-*-Makefile-*- vim:syntax=make
#$Id: micro4.target,v 1.1 2007/03/15 14:40:13 marcus_chang Exp $

PLATFORM ?= micro4

#MSP_MCU = msp430x1611

# Disable MSP430 hardware multiply because it makes MSPGCC die
CFLAGS += -mdisable-hwmul

MSP_BSL_FLAGS = 

CFLAGS += \
-I$(TOSDIR)/lib/CC2420Radio \
-I$(TOSDIR)/../contrib/diku/sensinode/tos/platform/$(PLATFORM) \

ifdef CC2420_CHANNEL
CFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

$(call TOSMake_include_platform,msp)

micro4: $(BUILD_DEPS)
	@:

