#-*-Makefile-*- vim:syntax=make
#$Id: perlnesc.target,v 1.2 2004/07/21 21:17:29 cssharp Exp $

BUILD_EXTRA_DEPS += perlnesc
PERLNESC_INCLUDE += -I$(BUILDDIR) -I.
PFLAGS += $(PERLNESC_INCLUDE)
PERLNESC_TARGETS += $(COMPONENT).nc

PERLNESC_ALL_INCLUDES = $(filter -I%,$(shell ncc -v -target=$(PLATFORM) $(filter -I%,$(PFLAGS) $(CFLAGS)) 2>&1 | head -1))

PERLNESC_ODIR = build/$(PLATFORM)

perlnesc: FORCE
	@echo "    proprocessing $(COMPONENT) with perlnesc"
	rm -f $(PERLNESC_ODIR)/*
	mkdir -p $(PERLNESC_ODIR)
	perlncpp -odir=$(PERLNESC_ODIR) $(PERLNESC_OPTS) $(PERLNESC_TARGETS) $(PERLNESC_ALL_INCLUDES)

