#-*-Makefile-*- vim:syntax=make
#$Id: mwclipboardC16.target,v 1.1 2005/07/29 18:29:24 adchristian Exp $

PLATFORM = mwclipboardC16

MSP_MCU = msp430x1611

# Disable MSP430 hardware multiply because it makes MSPGCC die

PFLAGS += -mdisable-hwmul \
 -I$(HHTOSDIR)/tos/platform/mwclipboardC16 \
 -I$(HHTOSDIR)/tos/platform/mwclipboardC \
 -I$(HHTOSDIR)/tos/platform/msp430_crl_base

$(call TOSMake_include_platform,msp)

MSP_JTAG_FLAGS = -R 2048

mwclipboardC16: $(BUILD_DEPS)
	@:
