#-*-Makefile-*- vim:syntax=make
#$Id: mwprotoflash.target,v 1.1 2005/07/29 18:29:24 adchristian Exp $

PLATFORM = mwprotoflash

ifdef CC2420_CHANNEL
PFLAGS += -DCC2420_DEF_CHANNEL=$(CC2420_CHANNEL)
endif

CFLAGS += \
-I$(TOSDIR)/lib/CC2420Radio

$(call TOSMake_include_platform,msp)

mwprotoflash: $(BUILD_DEPS)
	@:

